body {
  margin: 0;
  font-family: "Handjet", cursive;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 6em;
  height: 20%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-buttons {
  height: 30%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}

.game-choice {
  background-color: white;
  width: 100%;
  height: 100%;
  border: 0;
}

.result-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  height: 40%;
  width: 60%;
  align-items: center;
  gap: 1em;
}

.result-text {
  font-size: 4em;
}

.numeric-score {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  right: 0.25em;
}

#reset-button {
  font-size: 6em;
  border: solid red 4px;
  color: red;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-top: 0.4em;
}
